body{ text-align: left;}
#frame {
    display: inline-block;
    float: left;
    text-align: right;
}
.help {
    color: red;
    visibility : hidden;
    min-height: 25px;
}
.event_item{
}
.collection{
    float: left;
    text-align: left;
    margin-left: 50px;
}
.select{
    text-align: left;
}
.selecter{
    color: blue;
}
#notifyError{
    visibility: hidden;
}

